.App {
  height: 100vh;
}

.header{
  height: 8%;
  border-bottom: 1px solid rgb(135, 135, 135);
}

.header h2{
  align-self: flex-end;
  margin-left: 0.5%;
}

.left-panel {
  width: 12.5%;
  background-color: #1a202c;
  justify-content: center;
}

.page-content {
  flex: 1;
}