.App {
  height: 100vh;
}

.main-div{
  /* background-color: rgb(255, 243, 227); */
}

.header{
  height: 55px;
  color: white;
  border-bottom: 1px solid rgb(135, 135, 135);
  background-color: #1a202c;
}

/* .header > *{
  align-self: flex-end;
} */

.header > h3:last-child{
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.left-panel {
  width: 12.5%;
  background-color: #1a202c;
  justify-content: center;
}

.nav-link, a{
  color: white;
  text-decoration: none;
}

.page-content {
  flex: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead{
  background-color: #6c7ae0;
  color: white;
}

tr>td:first-child, th:first-of-type{
  width: 20%;
}

th, td {
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  /* text-align: left; */
  width: 12%;
  vertical-align: middle;
}

tr {
  /* line-height: 20px; */
}

.panelDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: sans-serif;
}

.panelDiv span{
  text-align: center;
}

.panelDiv:hover{
  color: rgb(163, 149, 255);
  background-color: #212939;
}

.projectNameRow{
  border-bottom: 1px solid #d9d9d9;
}

#addTaskForm{
  /* margin-left: auto;
  margin-right: auto; */
}

input, select, .testrow{
  width: 12rem;
  height: 2rem;
}

.testrow{
  /* border: 1px solid greenyellow; */
}

.holder{
  /* border: 1px solid red; */
}

img{
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.table>:not(caption)>*>*{
  padding: 4px;
}

.centeredItem{
  width: 25%;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  margin: 20px auto auto auto;
  padding-bottom: 5px;
}

.projectHolder{
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding-left: 5px;
  height: 40px;
}

.addProjectInput{
  width: 94%;
  height: 40px;
}

.buttonAddProject{
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 94% !important;
}

.Low, .Medium, .High, .Urgent, .Not_Started, .In_Progress, .On_Hold, .Done{
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 3px 6px 3px 6px
}
.Low, .Done{
  background-color: #a4cf30;
}
.Medium, .In_Progress{
  background-color: #1eaaea;
}
.High, .On_Hold{
  background-color: #ffca18;
}
.Urgent{
  background-color: #e8384f;
}
.Not_Started{
  background-color: #7a6ff0;
}

.tableCellCentered{
  text-align: center !important;
}